<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <title>Login</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>
<p>
    <div th:replace="base :: navlinks"></div>

    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/login}" method="post">
        <div>
           <h3> <label>User Name: <input type="text" name="username"/></label></h3>
        </div>
        <div>
            <h3> <label>Password: <input type="password" name="password"/></label></h3>
        </div>
        <div><input type="submit" value="Sign In" align="center"/></div>
    </form>
</p>
</body>
</html>