<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <title>Twitter Like Application - Friday Weekly Challenge 5</title>
    <th:block th:insert="base :: header"></th:block>

</head>
<body>
<p>
<div><h2>Welcome [[${user.firstName}]] [[${user.lastName}]] </h2></div></br>

<div th:replace="base :: navlinks"></div>
<h2>Title: <span th:text="${message.title}"></span></h2> <br/>
<h2>First Name: <span th:text="${message.user.firstName}"></span></h2> <br/>
<h2>Last Name: <span th:text="${message.user.lastName}" ></span> </h2><br/>
<h2>Posted Date: <span th:text="${message.date}"></span></h2> <br/>
<h2>Content: <span th:text="${message.content}"></span></h2> <br/>
<div th:if="${message.url} != null">
    <img th:src ="${message.url}" />
    <hr />
</div>
<h2><a th:href="@{/delete/{id}(id=${message.id})}">Delete this message</a></h2>

</p>
</body>
</html>